<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>snack2</title>
</head>

<body>
    <div id="app">
        <div>
            <input type="text" placeholder="inserisci il tuo nome" v-model="userName">
            <button @cick="checkList(userName)">verifica</button>
            <!-- <ul>
                <li v-for="name in names">{{name}}</li>
            </ul> -->
            <p v-if="!isNameInList">spiacenti non sei in lista</p>
            <p v-else>benvenuto {{userName}}</p>
        </div>
    </div>



    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.2.2/axios.min.js"></script>
    <script src="./script2.js"></script>
</body>

</html>